<h3>One Way - Data Binding</h3>
<h4>1. Interpolation (component -> view) </h4> 
{{title}}

<p>method data: Addition is {{addTwoNumbers()}}</p>
<p>calling method: {{getTitle()}}</p>

<h4>2. Property Binding (compo -> view)</h4>
<!-- syntax -> [binding resource]="" -->
<button [disabled]='isDisabled'>OK</button>

<h4>3. Event Binding (view -> component)</h4>
<button (click)='buttonClicked()'>Click Me</button>
<p>You clicked {{count}} times</p>
<!-- <button [value]='count'></button> -->

<hr>

<h3>Two Way - Data Binding</h3>
<p>Enter your name: </p>
<!-- [(ngModel)] -> banana in a box symbol -->
<!-- It is important to do this in module.ts -> import { FormsModule } from '@angular/forms' -->
<input type="text" [(ngModel)]='fullName'>
<p>{{fullName}}</p>

<hr>

<h3>Pipes</h3>

<p>Uppercase: {{title|uppercase}}</p>
<p>Lowercase: {{title|lowercase}}</p>
<p>Percent: {{545|percent}}</p>

<hr>
<p>Currency Pipe: {{6565.23|currency:'USD'}}</p>
<p>Currency Pipe: {{6565.23|currency:'INR'}}</p>

<hr>
<p>Date without Pipe: {{today}}</p>
<p>Date with Pipe: {{today|date}}</p>
<p>Date with Pipe & date format: {{today|date:'dd-MM-yy hh:mm'}}</p>
<!-- MM -> months, mm -> mins -->

<hr>
<h3>If-else</h3>
<app-ifelse></app-ifelse>

<h3>Switch</h3>
<app-switch></app-switch>

<h3>Style</h3>
<app-style></app-style>

<h3>Class</h3>
<app-class></app-class>